body {
  width: 960px;
  background-color: RGB(239, 212, 203);
}

.header img {
  float: left;
  width: 250px;
  height: 105px;
  border: 2px solid black;
  text-align: left;
  margin: 10px;
}
  
.menu {
  display: flex;
  justify-content: flex-end; 
  position: relative;
  left: 420px;
  font-size: 20px;
  padding-top: 20px;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
  
.menu li {
  display: block;
  margin-bottom: 10px;
}
  
.menu a {
  color: #fff;
  display: block;
  padding: 20px;
  text-decoration: none;
}
  
.menu a:hover {
  background-color: #F0BC68;
}

.slider {
  width: 960px;
  margin: 10px;
}

.slider img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 110px;
  height: auto;
  width: 1200px;
  margin-top: 40px;
}

article {
  clear: both;
  margin-top: 10px;
  margin: 10px;
}

section {
  width: 200px;
  border: 2px solid #270906;
  margin: 5px;
  padding: 5px;
  float: left;
  background-color: aliceblue;
  position: relative;
  left: 300px;
}

h2 {
  color: #F0BC68;
}

.Aga img {
  width: 185px;
  height: 185px;
  margin-left: 6px;
}

.Mar img {
  width: 185px;
  height: 185px;
  margin-left: 6px;
}

.Ess img {
  width: 185px;
  height: 185px;
  margin-left: 6px;
}

.Tan img {
  width: 185px;
  height: 185px;
  margin-left: 6px;
}

article {
  position: center;
}


.footer img {
  size: 5px;
}





 
  